#!/bin/bash
set -e -x

# -----------------------------------------------------------------------------
#  BASE INSTALL
# -----------------------------------------------------------------------------

readonly CONFIG_DIR=/opt/snowplow/config

function install_base_packages() {
  sudo apt install wget curl unzip -y
}

function install_docker_ce() {
  sudo apt install docker.io -y
  sudo systemctl enable --now docker
}

sudo apt update -y

install_base_packages
install_docker_ce

sudo mkdir -p $${CONFIG_DIR}
sudo cat << EOF > $${CONFIG_DIR}/iglu-server.hocon
${config}
EOF

%{ if cloud_sql_proxy_enabled ~}
# Setup the proxy service
sudo docker run \
  -d \
  --name cloud-sql-proxy \
  --restart always \
  --network host \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ endif ~}
  gcr.io/cloudsql-docker/gce-proxy:1.31.2 \
  /cloud_sql_proxy -instances=${db_instance_name}=tcp:${db_host}:${db_port}
sleep 5
%{ endif ~}

# Run the server setup
set +e
sudo docker run \
  --name iglu-server-setup \
  --network host \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ endif ~}
  -v $${CONFIG_DIR}:/snowplow/config \
  -e 'JAVA_OPTS=-Dorg.slf4j.simpleLogger.defaultLogLevel=info' \
  snowplow/iglu-server:${version} \
  setup --config /snowplow/config/iglu-server.hocon
set -e

# Launch the server
sudo docker run \
  -d \
  --name iglu-server \
  --restart always \
  --network host \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  -v $${CONFIG_DIR}:/snowplow/config \
  -p ${port}:${port} \
  -e 'JAVA_OPTS=-Dorg.slf4j.simpleLogger.defaultLogLevel=info' \
  snowplow/iglu-server:${version} \
  --config /snowplow/config/iglu-server.hocon

${telemetry_script}
